.SelectedCountry{
    display: flex;
    justify-content: space-between;
    width: 50%;
    border: 1px solid lightskyblue;
    padding: 20px;
}
.info{
    text-align: left;
}
.ContryName{
    font-family: sans-serif ,'Arial';
    letter-spacing: 11px;
    margin-bottom: 50px;


}
.flag{
    margin:20px 40px 0 0 ;
    width: 200px;
    height: 100px;
}
.Border{
    list-style: none;
}